aiohttp==3.13.5
aiosqlite==0.21.0
httpx==0.28.1
httpx-sse==0.4.3
langchain==1.2.15
langchain-classic==1.0.3
langchain-community==0.4.1
langchain-core==1.2.31
langchain-google-genai==4.2.2
langchain-mcp-adapters==0.2.2
langchain-openai==1.1.12
langchain-text-splitters==1.1.1
langgraph==1.1.6
langgraph-checkpoint==4.0.1
langgraph-checkpoint-sqlite==3.0.3
langgraph-prebuilt==1.0.9
langgraph-sdk==0.3.13
pillow==12.2.0
playwright==1.58.0
python-dotenv==1.1.1
pyyaml==6.0.3
